<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wind_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,331},{72,45}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,145},{72,45}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,331},{80,77}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,123},{80,77}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{94,85}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,116},{94,85}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,317},{100,97}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,108},{100,97}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,315},{110,97}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,108},{110,97}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,260},{126,111}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,94},{126,111}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,141},{126,117}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,86},{126,117}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,301},{124,125}}</string>
                <key>offset</key>
                <string>{-5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,77},{124,125}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{132,135}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,70},{132,135}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{132,143}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{132,143}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{150,151}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{150,151}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{150,157}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{150,157}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{150,155}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{150,155}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,173},{156,153}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{156,153}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,159},{154,149}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,38},{154,149}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,160},{154,155}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{154,155}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{156,149}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{156,149}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{134,137}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{134,137}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,147},{140,135}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{140,135}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,155},{144,133}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{144,133}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,289},{136,121}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,33},{136,121}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,317},{132,105}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{132,105}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
            <key>wind_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,332},{82,83}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{82,83}}</string>
                <key>sourceSize</key>
                <string>{160,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_gang_guafeng.png</string>
            <key>size</key>
            <string>{1024,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278fc5fbfd92f0fb26354a72debaf91f$</string>
            <key>textureFileName</key>
            <string>gfx_gang_guafeng.png</string>
        </dict>
    </dict>
</plist>
