<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,320},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,322},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,378},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,284},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,378},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>mahjong_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,379},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>mahjong_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,284},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,285},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,379},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,380},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,285},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,286},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,381},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,287},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,302},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,305},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,191},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,191},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,192},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,193},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,208},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,211},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,226},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,97},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,97},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,98},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,99},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,226},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,114},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,117},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>mahjong_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>mahjong_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>shang_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,416},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>shangdp_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,396},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>shangdp_fan@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,399},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>shoupai2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{92,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,132}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>shoupaipg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>shoupaipg_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>texie_diban_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,173}}</string>
                <key>sourceSize</key>
                <string>{130,173}</string>
            </dict>
            <key>texie_fanma@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{101,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,143}}</string>
                <key>sourceSize</key>
                <string>{101,143}</string>
            </dict>
            <key>texie_fanma_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{92,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,132}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>you_pai@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,399},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>zuo_pai@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,96},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>zuoyou_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,414},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>zuoyoupg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,416},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pai_2d_plist.png</string>
            <key>size</key>
            <string>{1018,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36f4dce7007245b3363f6eda17fb8b3:b36bc6cd155fff0285d61412a44c2769:537cb9756390de765345dca0452fe79a$</string>
            <key>textureFileName</key>
            <string>pai_2d_plist.png</string>
        </dict>
    </dict>
</plist>
