<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{73,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,107}}</string>
                <key>sourceSize</key>
                <string>{73,107}</string>
            </dict>
            <key>mj_tingToken.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,203},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>pb1_active_left_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,116},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>pb1_active_oppo_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,183},{39,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,58}}</string>
                <key>sourceSize</key>
                <string>{39,58}</string>
            </dict>
            <key>pb1_active_right_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,90},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>pb1_active_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,113}}</string>
                <key>sourceSize</key>
                <string>{79,113}</string>
            </dict>
            <key>pb1_backcard_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{79,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,113}}</string>
                <key>sourceSize</key>
                <string>{79,113}</string>
            </dict>
            <key>pb1_showcard_left_right_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,43},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>pb1_showcard_oppo_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{39,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,58}</string>
            </dict>
            <key>pb1_showcard_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,113}}</string>
                <key>sourceSize</key>
                <string>{79,113}</string>
            </dict>
            <key>pb1_showcardback_left_right_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,158},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>pb1_showcardback_oppo_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,142},{39,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,58}}</string>
                <key>sourceSize</key>
                <string>{39,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_paibei1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:555d90061beaca6b9f428b86078143e2:5039a0f272a782aab9b65b21c3c394e5:41c4d3d87bacd0dbc958d8441e470f9c$</string>
            <key>textureFileName</key>
            <string>mj_paibei1.png</string>
        </dict>
    </dict>
</plist>
