<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hsm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,149}</string>
                <key>spriteSourceSize</key>
                <string>{253,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hsm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,149}</string>
                <key>spriteSourceSize</key>
                <string>{253,149}</string>
                <key>textureRect</key>
                <string>{{256,1},{253,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani_HSelectMaster.png</string>
            <key>size</key>
            <string>{510,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1033e73af7865cff8599f7189c6e0a34:1a08da52d1358f5726ac863b7006648c:a94f57aa24b1d96a8efb40e41f416af3$</string>
            <key>textureFileName</key>
            <string>Ani_HSelectMaster.png</string>
        </dict>
    </dict>
</plist>
