<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vsm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,196}</string>
                <key>spriteSourceSize</key>
                <string>{146,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vsm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,196}</string>
                <key>spriteSourceSize</key>
                <string>{146,196}</string>
                <key>textureRect</key>
                <string>{{149,1},{146,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani_VSelectMaster.png</string>
            <key>size</key>
            <string>{296,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:120439335572ca147ab518448d9259e3:383311babbf65d1b6baecc46e6fd1b58:b7e4c8e1de4c6aab796d5e1f9577c871$</string>
            <key>textureFileName</key>
            <string>Ani_VSelectMaster.png</string>
        </dict>
    </dict>
</plist>
