<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,197}</string>
                <key>spriteSourceSize</key>
                <string>{295,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{295,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,197}</string>
                <key>spriteSourceSize</key>
                <string>{295,197}</string>
                <key>textureRect</key>
                <string>{{298,1},{295,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,197}</string>
                <key>spriteSourceSize</key>
                <string>{295,197}</string>
                <key>textureRect</key>
                <string>{{595,1},{295,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani_HLockMaster.png</string>
            <key>size</key>
            <string>{891,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2683616f844280f8fe3ff6d508e22c24:ccf8068809ceb355b4e6af7a7256b5e1:5ae6960b07e4de8ad23bb61f11b770b4$</string>
            <key>textureFileName</key>
            <string>Ani_HLockMaster.png</string>
        </dict>
    </dict>
</plist>
