<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xitype_lianshun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{167,36},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_lianshunqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{0,146},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_quanhei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{0,72},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_quanhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{0,36},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_quansantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{68,36},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_sanqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{166,109},{68,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_sanshunqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{100,146},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_sanshunzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_shuangsantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{100,0},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_shuangshunqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,37}</string>
                <key>textureRect</key>
                <string>{{136,72},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_shuangzhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,37}</string>
                <key>textureRect</key>
                <string>{{0,109},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_tongguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{68,72},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitype_zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,37}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{99,109},{67,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiscoretype.png</string>
            <key>size</key>
            <string>{235,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf2300dc4143f0537a8f6b2a70685898:b604fbac8ee6b65d15a8b199f594d63c:72453ad3c9d10dbc90f78be4390ecae7$</string>
            <key>textureFileName</key>
            <string>xiscoretype.png</string>
        </dict>
    </dict>
</plist>
