<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_89_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,598},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,598},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,598},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,598},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,598},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>ID_89_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangwenli.png</string>
            <key>size</key>
            <string>{1019,711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda62da6538982eaabc0248a0bb7925e$</string>
            <key>textureFileName</key>
            <string>majiangwenli.png</string>
        </dict>
    </dict>
</plist>
