<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>time0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,324},{170,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>time0bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{190,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,148}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
            <key>time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,152},{170,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>time1bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{190,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,148}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
            <key>time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,324},{170,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>time2bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,148}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
            <key>time3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{170,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>time3bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,148}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Timer3Dfx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdebfd3b3d0347552a13290f86cfac4d:80aafccdf9b0ee5ac71003a476058179:77b5a2f95bdc6a0c48af2c4ae7a9bd4a$</string>
            <key>textureFileName</key>
            <string>Timer3Dfx.png</string>
        </dict>
    </dict>
</plist>
