<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pb3_active_left_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,57}</string>
                <key>spriteSourceSize</key>
                <string>{25,57}</string>
                <key>textureRect</key>
                <string>{{372,1},{25,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb3_active_oppo_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{268,1},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb3_active_right_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,57}</string>
                <key>spriteSourceSize</key>
                <string>{25,57}</string>
                <key>textureRect</key>
                <string>{{312,45},{25,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pb3_active_self_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,124}</string>
                <key>spriteSourceSize</key>
                <string>{87,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb3_backcard_self_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,124}</string>
                <key>spriteSourceSize</key>
                <string>{87,124}</string>
                <key>textureRect</key>
                <string>{{90,1},{87,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb3_showcard_left_right_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{312,72},{52,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pb3_showcard_oppo_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{268,61},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb3_showcard_self_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,124}</string>
                <key>spriteSourceSize</key>
                <string>{87,124}</string>
                <key>textureRect</key>
                <string>{{179,1},{87,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pb3_showcardback_left_right_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{356,72},{52,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pb3_showcardback_oppo_self_1280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{312,1},{42,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mj_paibei3.png</string>
            <key>size</key>
            <string>{399,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f44699860459457340e8c984a6354595:d46f38e512e32fe8fe2460f83aec81d4:7a24ca5dd60691db69c323be15a27d02$</string>
            <key>textureFileName</key>
            <string>mj_paibei3.png</string>
        </dict>
    </dict>
</plist>
