<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pb1_active_left_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,70},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>pb1_active_oppo_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,205},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>pb1_active_right_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>pb1_active_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,124}}</string>
                <key>sourceSize</key>
                <string>{87,124}</string>
            </dict>
            <key>pb1_backcard_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{87,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,124}}</string>
                <key>sourceSize</key>
                <string>{87,124}</string>
            </dict>
            <key>pb1_showcard_left_right_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,198},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>pb1_showcard_oppo_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>pb1_showcard_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,124}}</string>
                <key>sourceSize</key>
                <string>{87,124}</string>
            </dict>
            <key>pb1_showcardback_left_right_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>pb1_showcardback_oppo_self_1280.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,138},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_paibei2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d51f8e7226811cc8d716b0a55f55be1:f1da9e8adedde2110dcff657861dd456:7effa5c9007c81385966edf8779710f9$</string>
            <key>textureFileName</key>
            <string>mj_paibei2.png</string>
        </dict>
    </dict>
</plist>
