<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vlm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,234}</string>
                <key>spriteSourceSize</key>
                <string>{184,234}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vlm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,234}</string>
                <key>spriteSourceSize</key>
                <string>{184,234}</string>
                <key>textureRect</key>
                <string>{{187,1},{184,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vlm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,234}</string>
                <key>spriteSourceSize</key>
                <string>{184,234}</string>
                <key>textureRect</key>
                <string>{{373,1},{184,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani_VLockMaster.png</string>
            <key>size</key>
            <string>{558,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4733ec989211eefc91bfc94f3bbcac64:917b75e978191733dde633bc83ca0db2:b4bfc9827d53da702e3a3714e5468bd2$</string>
            <key>textureFileName</key>
            <string>Ani_VLockMaster.png</string>
        </dict>
    </dict>
</plist>
