<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Poker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1826},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2282},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1370},{326,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,453}}</string>
                <key>sourceSize</key>
                <string>{326,453}</string>
            </dict>
            <key>Poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2738},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2282},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3650},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,3194},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,914},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2738},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1370},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1826},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,3194},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2282},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2738},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,3650},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3194},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,458},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,914},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1370},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,3650},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1826},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2282},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2738},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,458},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,3194},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,914},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1370},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1826},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2282},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,2738},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,3194},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,458},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,914},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1370},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1825},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,458},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,914},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,458},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2282},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2738},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,3650},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
            <key>Poker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,454}}</string>
                <key>sourceSize</key>
                <string>{326,454}</string>
            </dict>
            <key>Poker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,3194},{325,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,454}}</string>
                <key>sourceSize</key>
                <string>{325,454}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RubPoker.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1482a09f725bac51c598d7fb1704e2ee:ac694e119e26cc939b8896e3cd29f0fe:11ce0665a32f82cdf3981eb7a90326be$</string>
            <key>textureFileName</key>
            <string>RubPoker.png</string>
        </dict>
    </dict>
</plist>
