<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gfx_sifangdi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,160},{198,156}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,249},{198,156}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,156}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,249},{198,156}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{198,156}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,249},{198,156}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,156}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,249},{198,156}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,368},{58,104}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,269},{58,104}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,410},{126,44}}</string>
                <key>offset</key>
                <string>{-1,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,250},{126,44}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,214},{58,104}}</string>
                <key>offset</key>
                <string>{60,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{671,271},{58,104}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,318},{134,48}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,348},{134,48}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_dong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,138},{134,48}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{569,348},{134,48}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_dong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,320},{58,102}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,270},{58,102}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_dong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,274},{128,44}}</string>
                <key>offset</key>
                <string>{-2,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{574,250},{128,44}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_dong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,368},{58,102}}</string>
                <key>offset</key>
                <string>{60,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{671,272},{58,102}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,108},{58,104}}</string>
                <key>offset</key>
                <string>{60,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{671,271},{58,104}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{134,48}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{569,348},{134,48}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,104}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,269},{58,104}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,364},{126,44}}</string>
                <key>offset</key>
                <string>{-1,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,250},{126,44}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_xi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,318},{126,44}}</string>
                <key>offset</key>
                <string>{-1,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,250},{126,44}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_xi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,368},{58,104}}</string>
                <key>offset</key>
                <string>{60,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{671,271},{58,104}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_xi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{134,48}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,348},{134,48}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gfx_sifangdi_xi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{58,104}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,269},{58,104}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_sifang_zhishiqi.png</string>
            <key>size</key>
            <string>{512,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37ccd2020ae068cacffbd9638df2fb4$</string>
            <key>textureFileName</key>
            <string>gfx_sifang_zhishiqi.png</string>
        </dict>
    </dict>
</plist>
