<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,329}}</string>
                <key>sourceSize</key>
                <string>{585,329}</string>
            </dict>
            <key>luoxuanjiang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{115,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,121}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>luoxuanjiang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,762},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,118}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>luoxuanjiang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,762},{83,119}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,119}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>luoxuanjiang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{83,121}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,121}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>penh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{181,128}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{181,128}}</string>
                <key>sourceSize</key>
                <string>{187,134}</string>
            </dict>
            <key>penh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,589},{171,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{171,120}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_feiji_animation.png</string>
            <key>size</key>
            <string>{333,921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:904949bc6bc7ecab9687812cdcee8bf8$</string>
            <key>textureFileName</key>
            <string>gfx_feiji_animation.png</string>
        </dict>
    </dict>
</plist>
