<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,164},{112,124}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,82},{112,124}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,372},{138,138}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,73},{138,138}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{166,148}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,67},{166,148}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,344},{200,162}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{200,162}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{216,160}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{216,160}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,174}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{218,174}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{214,164}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,51},{214,164}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>guard_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,164},{206,156}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,54},{206,156}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_chaojizhadan_baozhaguang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8415159554bbcec6d9632deb675292$</string>
            <key>textureFileName</key>
            <string>gfx_chaojizhadan_baozhaguang.png</string>
        </dict>
    </dict>
</plist>
