<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Thunder-liewen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{232,250}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{232,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangsheguang_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,252}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{250,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{214,256}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{214,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_00100.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,252},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>hupaiguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,250},{70,93}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{70,93}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,232},{70,95}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{70,95}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,372},{66,93}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{66,93}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,440},{70,87}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{70,87}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,440},{70,89}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{70,89}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,290},{70,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{70,95}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,304},{66,95}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{66,95}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,372},{66,89}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{66,89}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>hupaiguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,387},{70,87}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{70,87}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>lig_016-_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,322},{52,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lig_016_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,322},{52,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{52,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lig_016_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,376},{56,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lig_016_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,442},{56,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>path_00169.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{246,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{246,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>shandian_00012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,252},{240,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,59}}</string>
                <key>sourceSize</key>
                <string>{240,59}</string>
            </dict>
            <key>shandian_00012_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,397},{132,61}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{240,61}</string>
            </dict>
            <key>shandian_00012_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,256},{240,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,59}}</string>
                <key>sourceSize</key>
                <string>{240,59}</string>
            </dict>
            <key>shandian_00012_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{240,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,61}}</string>
                <key>sourceSize</key>
                <string>{240,61}</string>
            </dict>
            <key>shandian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,442},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shandian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,376},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shandian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,310},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shandian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,244},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shanguang_00093.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{228,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,231}}</string>
                <key>sourceSize</key>
                <string>{228,231}</string>
            </dict>
            <key>tiaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,232},{120,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,56}}</string>
                <key>sourceSize</key>
                <string>{120,56}</string>
            </dict>
            <key>trail036.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,218},{32,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,248}}</string>
                <key>sourceSize</key>
                <string>{32,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx_hu_thunder.png</string>
            <key>size</key>
            <string>{884,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d8c5e4a8348db9e758fc8717443616d$</string>
            <key>textureFileName</key>
            <string>gfx_hu_thunder.png</string>
        </dict>
    </dict>
</plist>
