<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,0},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,0},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,0},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,147},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,147},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,147},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,147},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,294},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,294},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,294},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,294},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,441},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,441},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,441},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,441},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,588},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,588},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,588},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,588},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,735},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,735},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,735},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,735},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,882},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,882},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,882},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,882},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,1029},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,1029},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,1029},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,1029},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,1176},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,1176},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,1176},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,1176},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,1323},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,1323},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{222,1323},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{333,1323},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{0,1470},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mahjong_4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,147}</string>
                <key>textureRect</key>
                <string>{{111,1470},{111,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paihua.png</string>
            <key>size</key>
            <string>{444,1617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e5ef9b6e32fcc4464ee2aaa89de3936:704f08451e7283b91c07cef072779ef0:59ac962d2da739d6fbbb7d901e81717c$</string>
            <key>textureFileName</key>
            <string>paihua.png</string>
        </dict>
    </dict>
</plist>
